<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeWork-1</title> 
    <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">  
    <style>
    .block {
        background: #353535;
        color:white;
    }
    .block2 {
        background: #ff5757;
        width: 100px;
        height: 100px;
    }
    .block3 {
        background: #a772c0;
        width: 300px;
    }
    .line {
        background: #35353500;
        color: #ff7be2;
    }
    span {
        background: #6a009b;
        color: white;
    }
    </style>
</head>
<body>
    <div class="block">Всем привет, сегодня я создаю свой 
        <span class="line">первый сайт!</span>
        <div class="block2"></div>
    </div>
    <div class="block3">А здесь у меня какие-то элементы:
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span>
        <span>Элемент</span> 
    </div>
</body>
</html>
